<h1 class="group-title"> <%= @group.name %> </h1>
<!-- <div class = "creation-time"> <%= @group.created_at %> </div> -->

<h2>Events</h2>
<br />
<% @events2.each do |event| %>
    <div class="event-title">
      <%= event.title + ":\t"%>
      <%= event.edate.strftime("%B %d, %Y") %>
      <%= ":\t" + event.location %> 
      <br />
      <%= event.description %>
    </div>
    <br />
    <br />
<% end %>


<h4> Create a New Event </h4>
<%= form_for(@event) do |f| %>
<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :group_id, :value => @group.id %>
    <br />
    <!--<%= f.label :edate %>-->
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br />
    <%= f.date_select(:edate, :start_year => Time.now.year) %>
    <br />
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>