<h1> Welcome To Eventbook </h1>
<h2> Where You Can Find All Events Going On At Yale </h2>
<h2> Search by Category or Find a Group </h2>


<br />

<h1> Categories </h1>

<% @cats.each do |y| %>
	<div class = "cat-names">
		<%= link_to(y.title, y) %>
	</div>

<% end %>

<br />
<div class = "cat-names">
	<%= link_to("See All Groups", groups_path) %>
	<br />
	<%= link_to("See All Events", events_path) %>
</div>

<br />
<br />
<div class = "link-names">
<!-- <%= link_to("Make a New Category", new_cat_path) %> -->
<br />
<%= link_to("Make a New Group", new_group_path) %>
</div>

