<!DOCTYPE html>
<html>
<head>
  <title>Eventbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= nav_bar(static: :top, brand: "Eventbook") do%>
   <%= menu_group do %>
   <%= menu_item "Home", root_path %>
   <%= menu_item "Help", '/static_pages/help' %>
   <%= menu_item "Contact", '/static_pages/contact' %>
   <%= menu_item "About Us", '/static_pages/about_us' %>
   <% end %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
